@font-face {
    src: url('../fonts/trebuc.ttf') format('truetype');
    font-family: 'Trebuchet MS';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 220px;
    min-height: 100vh;
    font-size: 12px;
    font-family: 'Open Sans', Arial, sans-serif;
    color: #848484;
    background: #fff;
}

.holder::after {
    content: '';
    display: block;
    clear: both;
}

ul {
    list-style: none;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 22px;
}

h1,
h2,
h3,
h4 {
    color: #696161;
}

a {
    color: #848484;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    width: auto;
    max-width: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 120px;
    width: 100%;
    padding-top: 30px;
    border-bottom: 1px solid #e5e5e5;
    background: #fff;
}

.wrapper {
    width: 1024px;
    margin: 0 auto;
}

header a.logo {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 51px;
    color: #313131;
}

header a.logo span {
    color: #595959;
}

header a.logo span::after {
    content: '';
    position: relative;
    right: 4px;
    top: 2px;
    display: inline-block;
    width: 29px;
    height: 29px;
    border-radius: 50%;
    background: #6dd035;
}

header nav a {
    display: inline-block;
    line-height: 36px;
    font-size: 24px;
    color: #333;
    margin-left: 6px;
    padding: 0 22px;
    transition: all 0.3s;
}

header nav a:hover {
    color: #fff;
    background: #373737;
}

header nav {
    float: right;
    padding-top: 15px;
}

.banner {
    text-align: center;
    padding-bottom: 80px;
}

aside {
    float: right;
}

aside a {
    display: block;
    margin-bottom: 12px;
}

main section img {
    float: left;
    margin: 0 30px 30px 0;
}

main {
    padding-right: 321px;
}

.top-section {
    overflow: hidden;
}

.top-article {
    padding-right: 24px;
}

.top-article h2 {
    font-size: 30px;
    margin: 0;
}

.top-article h2 a {
    color: #696161;
}

.top-article p {
    font-size: 14px;
    line-height: 22px;
}

.mini-article {
    float: left;
    width: 33.3%;
    padding-right: 22px;
    margin-bottom: 24px;
}

.mini-article h3 {
    margin: 0;
    font-size: 22px;
}

.sub-heading {
    padding: 10px 0;
    font-size: 14px;
}

.mini-article p {
    text-align: justify;
}

footer {
    text-align: center;
    padding: 30px 0;
    background: #3a3a3a;
}

footer p {
    color: #fff;
    font-size: 24px;
}

footer a {
    color: #fff;
}

.social-elements {
    float: right;
  text-align: center;
}

.social {
  display: inline-block;
  margin: 0 8px;
}

.social a {
  display: block;
  width: 40px;
  height: 40px;
}

.social-fb {
  background: url(../images/social-1.png) no-repeat;
}

.social-tw {
  background: url(../images/social-2.png) no-repeat;
}

.social-yt {
  background: url(../images/social-3.png) no-repeat;
}